<!doctype html>
<html>
  <head>
	  <link rel="icon" href="/img/winter.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
  </head>
  <body>
	  <div class="main-content">
		  {{>header}}
		{{!-- <h1>HOME(index.html)</h1> --}}
		<p> {{error}} </p>

	  </div>
    
  
    {{>footer}}
  </body>
</html>