<!doctype html>
<html>
  <head>
    <link rel="icon" href="/img/winter.jpeg">
    <link rel="stylesheet" href="/css/styles.css"> 
    {{!-- <title>{{title}}</title> --}}
    {{>header}}
  </head>
  <body>
    <div class="main-content"> 
      {{!-- <img class = "potrait" src="/img/node.png"> --}}
      <p>This is a simple weather application. You can get a summarised report of a region's weather in the United States of America.</p>
    </div>
    {{>footer}}
  </body>
</html>