<!doctype html>
<html>
  <head>
    <link rel="icon" href="/img/winter.jpeg">
    <link rel="stylesheet" href="/css/styles.css"> 
    {{!-- <title>{{title}}</title> --}}
    {{>header}}
  </head>
  <body>
    <div class="main-content">
      
      <img class = "potrait" src="/img/node.png">
      <p>This is the about {{name}} .</p>

    </div>

    

    {{>footer}}
  </body>
</html>