<!doctype html>
<html>
  <head >
    <link rel="icon" href="/img/winter.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
    
    {{!-- <title>HOME</title> --}}
    {{>header}}
  </head>
  <body>
    <div class="main-content">
      
      {{!-- <h1>HOME(index.html)</h1> --}}
      {{!-- <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Name</label>
      </div> --}}
        <form>
          <div>
            <div class='blocking-span'>
              <input class="inputText" required type="text" name="address">
              <label class="floating-label"><b>Enter Address</b></label>
            </div>
            <br>
            {{!-- <div class='blocking-span'>
              <input class="inputText" required type="text" name="address">
              <label class="floating-label"><b>Enter Address</b></label>
            </div> --}}
            <br><br>
            <button class="btnSubmit">Submit</button>
          </div>
      </form>
      {{!-- <p>This is the default home page. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p> --}}
    </div>
    
  
    {{>footer}}
    <script src='/js/app.js'></script>
  </body>
</html>