<!doctype html>
<html>
  <head>
    <link rel="icon" href="/img/winter.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
    <script src='/js/app.js'></script>
    <title>Weather</title>
  </head>
  <body>
      <div class="main-content">

          <div class="main-content">
            {{>header}}
            {{!-- <h1>HOME(index.html)</h1> --}}
            <p>{{data}}This is the default home page. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
        </div>

      </div>
    
  
    {{>footer}}
  </body>
</html>