body{

/* color: #333333; */

font-family: Arial, Helvetica, sans-serif;

max-width: 650 px;

margin: 0 auto;

padding:0 16px;

display: flex;

flex-direction: column;

min-height: 100vh;

text-align: center;

background-color:#fcde67;

/* background-image: ; */
    /* viewport height(vh) */
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #C38D9E;
    border-top: 3px solid #41B3A3;
    margin-top: 16px;
    padding: 16px 0;
    font-family: fantasy;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    background-color:  #5bccf6;
    font-family: fantasy ;
}

h1 {
    font-size: 70px;
    margin-bottom: 16px;
}

header a {
    color: #030e12;
    margin-right: 30px;
    text-decoration: none;
    font-size: 100px;
}

/* .potrait {

} */
.btnSubmit{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);

}

.btnSubmit::after{
    content: "";
    background-color: #C38D9E;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}
/* 
 
*/
div {
  position: relative; /*  make label relate to div  */
  padding-top: 10px;  /*  make space for label      */
}
.inputText {
  font-size: 100%;
  width:20%; 
  height:50px;
  border-radius:0.4rem;
}
.floating-label {
  position: absolute;
  pointer-events: none;
  /* left: 200px; */
  top: 18px;
  transition: 0.2s ease all;
  /* width: 20%; */
  left: 40%;
  font-family: sans-serif;
  color: grey;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: -6px;
}
p {
  font-family: sans-serif;
  font-size: 25px;

}

